<footer>
  <div class="footer-links">
    <a href="#" id="infModalLink">설명</a>
    <a href="mailto:dietbuddy@sesac.com?subject=문의사항">Contact</a>
  </div>
  <p>&copy; 2024 DietBubby. All Rights Reserved.</p>
</footer>

<div id="infModal" class="infModal">
  <div class="infModal-content">
    <h2>건강을 디자인하는, 당신만의 맞춤형 식단 관리 웹사이트 ✨DIET BUDDY✨</h2>
    <p>
      우리 웹사이트는 건강한 삶을 꿈꾸는 모든 사람들을 위해 설계된
      <strong>맞춤형 식단 관리 플랫폼</strong>입니다. 사용자는 자신의
      <strong>키, 몸무게, 나이, 성별</strong>과 같은 기본 정보를 입력하고,
      <strong>목표 몸무게</strong>, <strong>식단 목표</strong> (체중 감량, 유지, 근육
      증가), 그리고 <strong>목표 기간</strong>을 설정할 수 있습니다. 이를 통해 개인에 딱
      맞는 <strong>하루 권장 칼로리</strong>와 <strong>맞춤형 식단 플랜</strong>을
      제공합니다.
    </p>
    <p>
      지금 바로 시작해 보세요! <strong>✨ 건강한 삶</strong>을 위한 첫걸음은 여기에서
      시작됩니다.
    </p>
    <button id="infCloseModal">닫기</button>
  </div>
</div>

</div>
<script src="/static/js/infModal.js" defer></script>
