<footer>
  <div class="footer-links">
    <a href="#" id="infModalLink">설명</a>
    <a href="mailto:dietbuddy@sesac.com?subject=문의사항">Contact</a>
  </div>
  <p>&copy; 2024 DietBubby. All Rights Reserved.</p>
</footer>

<div id="infModal" class="infModal">
  <div class="infModal-content">
    <h2>✨ DIET BUDDY – 당신의 건강을 디자인하는 맞춤형 식단 관리 웹사이트 ✨</h2>
    <p>
      우리 웹사이트는 <strong>건강한 삶을 꿈꾸는 모든 사람</strong>들을 위해 설계된
      <strong>맞춤형 식단 관리 플랫폼</strong>입니다.
    </p>
    <div class="features">
      <h3>DIET BUDDY를 통해 아래의 맞춤형 서비스를 제공합니다:</h3>
      <ul>
        <li>
          <strong>사용자 정보 입력:</strong> 키, 몸무게, 나이, 성별 등의 기본 정보를 입력합니다.
        </li>
        <li>
          <strong>목표 설정:</strong> 목표 몸무게와 식단 목표(체중 감량, 유지, 근육 증가)를 선택하고,
          목표 기간을 설정하여 달성 계획을 세웁니다.
        </li>
        <li>
          <strong>맞춤형 플랜 제공:</strong> 개인에 딱 맞는 <strong>하루 권장 칼로리</strong>와
          <strong>식단 관리 플렛폼폼</strong>을 제공합니다.
        </li>
      </ul>
    </div>
    <p class="call-to-action">
    <br>
      ✨ <strong>건강한 삶을 위한 첫걸음, DIET BUDDY와 함께하세요.</strong> ✨
    </p>
    <button id="infCloseModal">닫기</button>
  </div>
</div>

</div>
<script src="/static/js/infModal.js" defer></script>
