<header>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <div class="logo">
    <a href="/mypage/main">
      <img src="/static/img/logo.png" alt="logo" class="logo-img" />
    </a>
  </div>
  <nav class="navbar">
    <a href="#" class="font-navbar" onclick="user_logout()">로그아웃</a>
    <a href="/user/patch" class="font-navbar">회원정보수정</a>
    <a href="#" class="font-navbar" onclick="delete_user()">회원탈퇴</a>
    <a href="/usercustomerservice" class="font-navbar">고객센터</a>
    <a href="#" class="font-navbar" id="toggle-right-section" style="display: none"
      >오늘의 식단</a
    >
  </nav>
  <button class="hamburger" aria-label="Toggle navigation">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 100 80"
      width="30"
      height="30"
      fill="#5ca14b"
    >
      <rect width="100" height="10" rx="5"></rect>
      <rect y="35" width="100" height="10" rx="5"></rect>
      <rect y="70" width="100" height="10" rx="5"></rect>
    </svg>
  </button>
  <script src="/static/js/logout.js"></script>
  <script src="/static/js/userDelete.js"></script>
  <script src="/static/js/navbar.js"></script>
</header>
