<header>
  <div class="logo">
    <a href="/">
      <img src="/static/img/logo.png" alt="logo" class="logo-img" />
    </a>
  </div>
  <nav>
    <a href="/customerservice" class="font-navbar">고객센터</a>
  </nav>
</header>
