<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta property="og:url" content="http://43.203.249.128:8081/" />
  <meta property="og:type" content="website" />
  <meta property="og:title" content="DietBuddy" />
  <meta
    property="og:description"
    content="How could you speak English if you cannot understand it? It's time to improve your English listening skills! Try RedKiwi right now :)"
  />
  <meta property="og:image" content="logo.png" />
  <title><%= title %></title>
  <link rel="icon" type="image/png" href="/static/img/favicon.png" />
  <!-- axios CDN -->
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</head>
