<header>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <div class="logo">
    <a href="/">
      <img src="/static/img/logo.png" alt="logo" class="logo-img" />
    </a>
  </div>
  <nav>
    <a href="#" class="font-navbar" onclick="user_logout()">로그아웃</a>
    <a href="#" class="font-navbar">회원정보수정</a>
    <a href="#" class="font-navbar">고객센터</a>
  </nav>
</header>
