<!DOCTYPE html>
<html lang="ko">
  <%- include('partials/title', { title: '메인' })%>
  <body>
    <%-include('partials/header')%>
    <main>
      <section class="content">
        <h1><span>Healthy</span> living made easy!!</h1>
        <p>Get your custom plans &<br />one-on-one guidance from our experts</p>
        <p class="signin-text">Sign in & get started today</p>
        <div class="buttons">
          <button class="btn login">Login</button>
          <button class="btn signup">Sign up</button>
        </div>
      </section>
      <div class="image">
        <img src="../static/img/Broccoli.png" alt="Broccoli" />
      </div>
    </main>
    <%-include('partials/footer')%>
  </body>
</html>
