<!DOCTYPE html>
<html lang="ko">
  <head>
    <%- include('partials/title', { title: '비밀먼호 재설정' }) %>
    <link rel="stylesheet" href="/static/css/base.css" />
    <link rel="stylesheet" href="/static/css/updatePw.css" />
  </head>
  <body>
    <%-include('partials/header')%>
    <main>
      <section class="updatePw-content">
        <div class="updatePw-form">
          <h1>비밀번호 재설정</h1>
          <form class="updatePw-form">
            <label for="password1">새 비밀번호</label>
            <input
              type="password"
              id="password1"
              placeholder="새 비밀번호를 입력해주세요"
              oninput="isClick()"
            />
            <p style="color: red">
              ※비밀번호는 영어 대소문자와 숫자를 섞어서 8자리 이상 20자리 이하로
              설정해주세요.
            </p>
            <label for="password2">비밀번호 확인</label>
            <input
              type="password"
              id="password2"
              placeholder="비밀번호를 동일하게 입력해주세요"
              onfocus="isClick()"
            />
            <p id="caution" style="color: red"></p>
            <button type="button" onclick="pw_update()">수정하기</button>
          </form>
        </div>
      </section>

      <section>
        <div class="image">
          <img src="/static/img/Tomato.png" alt="Pw Update" />
        </div>
      </section>
    </main>
    <%- include('partials/footer') %>
    <script src="/static/js/pwUpdate.js"></script>
  </body>
</html>
