<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('partials/title', { title: '목표설정' })%>
    <link rel="stylesheet" href="../static/css/settingGoal.css" />
    <link rel="stylesheet" href="../static/css/base.css" />
  </head>
  <body>
    <%-include('partials/userHeader')%>
    <main>
      <section class="goalsetting-content">
        <div class="goal-form">
          <h1>목표 설정</h1>
          <form name="goal-form">
            <label for="height">키(cm)</label>
            <input
              type="number"
              name="height"
              id="height"
              min="0"
              max="300"
              placeholder="키를 입력해주세요"
              required
            />

            <label for="weight">체중(kg)</label>
            <input
              type="number"
              min="0"
              max="600"
              name="weight"
              id="weight"
              placeholder="몸무게를 입력해 주세요"
              required
            />

            <label for="age">나이</label>
            <input
              type="number"
              name="age"
              id="age"
              min="0"
              max="150"
              placeholder="나이를 입력해주세요"
              required
            />

            <div class="gender-selection">
              <label>성별</label>
              <label for="male">
                <input type="radio" id="male" name="gender" value="male" />
                남성
              </label>
              <label for="female">
                <input type="radio" id="female" name="gender" value="female" />
                여성
              </label>
            </div>

            <label for="target-weight">목표 체중</label>
            <input
              type="text"
              name="target-weight"
              min="0"
              max="600"
              id="target-weight"
              placeholder="목표 체중을 입력해주세요"
            />

            <label>목표 기간(일)</label>
            <input
              type="number"
              name="goal-date"
              id="goal-date"
              min="1"
              max="500"
              placeholder="목표 기간을 일 단위로 입력해주세요"
            />

            <label>식단 목표</label>

            <div class="diet-goals">
              <button type="button" class="diet-goal" value="Loss">체지방 감소</button>
              <button type="button" class="diet-goal" value="Gain">근육 증가</button>
              <button type="button" class="diet-goal" value="Stay">유지</button>
            </div>

            <label>활동 수준</label>

            <div class="activity-levels">
              <button type="button" class="activity-level" value="1.2">
                활동이 적거나 운동하지 않음 (30분 이상 주 1~2회 운동)
              </button>

              <button type="button" class="activity-level" value="1.375">
                가벼운 활동(30분 이상 주 2~4회 운동)
              </button>
              <button type="button" class="activity-level" value="1.55">
                보통의 활동(30분 이상 주 4~6회 운동)
              </button>
              <button type="button" class="activity-level" value="1.725">
                매우 활발한 활동(30분 이상 주 7회 운동)
              </button>
            </div>
            <br /><br />
            <button type="button" class="submit-btn" onclick="handleSubmit()">
              목표 설정 완료
            </button>
          </form>
        </div>
      </section>
      <section>
        <div class="tea-image">
          <img src="/static/img/Tea.png" alt="Tea with Lemon" />
        </div>
      </section>
    </main>
    <div id="modal" class="modal hidden">
      <div class="modal-content">
        <h2 id="modal-title">알림⚠️</h2>
        <p id="modal-message">경고 메시지가 표시됩니다.</p>
        <div class="modal-buttons">
          <button id="confirm-btn">확인</button>
          <button id="cancel-btn">취소</button>
        </div>
      </div>
    </div>
    <%-include('partials/footer')%>
    <script src="/static/js/settingGoal.js" defer></script>
  </body>
</html>
