<!DOCTYPE html>
<html lang="ko">
  <head>
    <%- include('partials/title', { title: '회원가입' }) %>
    <!-- css 경로로 -->
    <link rel="stylesheet" href="../static/css/base.css" />
    <link rel="stylesheet" href="../static/css/signup.css" />
  </head>
  <body>
    <%-include('partials/header')%>

    <main>
      <section class="signup-content">
        <div class="signup-form">
          <h1>회원가입</h1>
          <form>
            <!-- 이름 입력 -->
            <label for="name">이름</label>
            <input type="text" id="name" placeholder="ABC" required />

            <!-- 이메일 입력 -->
            <label for="email">이메일</label>
            <input type="email" id="email" placeholder="abc@gmail.com" required />

            <!-- 비밀번호 입력 -->
            <label for="password">비밀번호</label>
            <input type="password" id="password" placeholder="●●●●●●" required />

            <!-- 비밀번호 확인 문제 -->
            <label for="security-question">비밀번호 확인 문제</label>
            <select id="security-question" required>
              <option value="" disabled selected>문제를 선택해주세요</option>
              <option value="memory_place">기억에 남는 추억의 장소는?</option>
              <option value="life_motto">자신의 인생 좌우명은?</option>
              <option value="treasured_item">자신의 보물 제1호는?</option>
              <option value="first_teacher">가장 기억에 남는 선생님 성함은?</option>
              <option value="childhood_friend">인생에서 가장 친한 친구 이름은?</option>
              <option value="favorite_book">읽은 책 중에서 좋아하는 책은?</option>
              <option value="dream_trip">추억하고 싶은 날씨가 있다면?</option>
            </select>

            <!-- 비밀번호 확인 답변 -->
            <label for="security-answer">비밀번호 확인 답변</label>
            <input
              type="text"
              id="security-answer"
              placeholder="답변을 입력하세요"
              required
            />

            <!-- 회원가입 버튼 -->
            <button type="button" onclick="user_signup()">회원가입</button>

            <!-- 로그인 링크 -->
            <p class="signin-text">회원이신가요? <a href="/login">로그인</a></p>
          </form>
        </div>
      </section>
      <section>
        <div class="image">
          <img src="../static/img/Pear.png" alt="Grapes" />
        </div>
      </section>
    </main>
    <%-include('partials/footer')%>
    <script src="../static/js/signup_axios.js"></script>
  </body>
</html>
