<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>회원 정보 수정</title>
  </head>
  <body>
    <form>
      <!-- 이름 입력 -->
      <label for="name">이름</label>
      <input type="text" id="name" placeholder="" required />

      <!-- 이메일 입력 -->
      <label for="email">이메일</label>
      <input type="email" id="email" placeholder="abc@gmail.com" required />

      <!-- 비밀번호 입력 -->
      <label for="password">비밀번호</label>
      <input type="password" id="password" placeholder="●●●●●●" required />
    </form>
  </body>
</html>
