main {
  flex: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px 10%;
}

.update-content {
  display: flex;
  width: 100%;
}

.update-form {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 10px;
  max-width: 600px;
  margin: auto;
}

.update-form h1 {
  font-size: 1.8rem;
  margin-bottom: 20px;
}

.update-form label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  font-size: 1.1rem;
}

.update-form input,
.update-form select {
  width: 100%;
  max-width: 400px;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
}

.update-form button {
  width: 100%;
  max-width: 400px;
  background-color: #5ca14b;
  color: #fff;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
  font-size: 16px;
}

.update-form button:hover {
  background-color: #45a049;
}

@media screen and (max-width: 1024px) {
  main {
    flex-direction: column;
    align-items: center;
    padding: 30px 5%;
  }

  .update-content {
    flex-direction: column;
    align-items: center;
  }

  .update-form {
    width: 100%;
    padding: 20px;
    max-width: 90%;
  }

  .update-form h1 {
    font-size: 24px;
  }

  .update-form input,
  .update-form select {
    font-size: 14px;
  }

  .update-form button {
    font-size: 14px;
  }
}

@media screen and (max-width: 768px) {
  main {
    padding: 20px;
  }

  .update-form {
    padding: 15px;
    box-shadow: none;
    max-width: 100%;
  }

  .update-form h1 {
    font-size: 20px;
  }

  .update-form input,
  .update-form select {
    font-size: 12px;
    padding: 8px;
  }

  .update-form button {
    font-size: 12px;
    padding: 8px;
  }
}
